<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #logo{

        }
        body {
            background-color: #ebeff5;
        }
        #total-orders{
            background-color: #4cb4cf
        }
        #orders-delivered{
            background-color: #7abecc;
        }
        #orders-pending{
            background-color: #7cd1c0;
        }
    </style>
</head>
<body>
    
    {% include "accounts/navbar.html" %}

    {% block content %}

    {% endblock content %}

    <hr>
    <h5>Our footer</h5>

</body>
</html>